
body {
    font-family: Verdana, "Times New Roman";
    background-color: #000000;
    color: #FFF;
    margin: 25px 25px 0 25px;
}

h1 {
    font-size: 48px;
    text-align: center;
    padding: 15px;
}

h2 {
    font-size: 32px;
    text-shadow: 2px 4px #808080;
}

p {
    font-size: 24px;
    padding-bottom: 15px;
    padding-left: 15px;
}

/*Style the images*/
img{
    width: 350px;
    border: 10px dashed white;
    display: block;
    margin: auto;
}

div {
    min-height: 100px;
    padding: 20px;
    border: 3px solid white;
}

.intro {
    margin-top: 15px;
    border-radius: 15px;
}

.red {
    background-color: #ff000f;
    text-align: right;
    margin-left: 50px;
    border: 0 0 3px 10px solid white;
}

.blue {
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border: 0 10px 3px 0 solid white;
}

.yellow {
    background-color: #ECFF4D;
    text-align: right;
    margin-left: 50px;
    border: 0 0 3px 10px solid white;
}

.yellow p {
    color: #000000;
}

.yellow h2 {
    color: #000000;
    text-shadow: 2px 4px #c7e2c7;
}

.green {
    background-color: #00Eb00;
    text-align: left;
    margin-right: 50px;
    border: 0 10px 3px 0 solid white;
}


